.footer {
    background-color: #BED1E1;
    max-height: 231px;
    &__container {
        margin: 0 auto;
        width: 1115px;
    }
    &__logo-brand {
        display: block;
        width: 127px;
        height: 101px;
    }
    &__top {
        height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 0 12px;
    }
    &__bottom {
        padding: 18.5px 0 30.5px;
        height: 101px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__line {
        margin: 0 auto;
        height: 1px;
        background-color:rgba(255, 255, 255, 0.2);
    }
    &__politics {
        width: 566px;
    }
    &__copyright {
        font-size: 12px;
        color: #404040;
        &-sm {
            display: none;
            line-height: 1;
        }
    }
    &__descr {
        margin-top: 10px;
        font-size: 12px;
        line-height: 14px;
        color: #404040;
        &-sm {
            display: none;
            line-height: 1;
        }
    }
    &__kontur {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__tagline {
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        margin-right: 12px;
    }
    &__logo-kontur {
        width: 58.16px;
        height: 38.71px;
    }

}