.header {
    &__container {
        margin: 0 auto;
        width: 1097px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__inf {
        background-color: #EBEDEE;
        height: 40px;
    }
    &__anchors {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__anchor{
        display: block;
        font-weight: 500;
        font-size: 14px;
        color: #404040;
        margin-right: 52px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__phones {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__link {
        display: block;
        margin-right: 37px;
        &:last-child {
            margin-right: 0;
        }
        h4 {
            font-weight: 500;
            font-size: 16px;
            color: #404040;
        }
    }
    &__main {
        background-color: #fff;
        height: 121px;
    }
    &__logo {
        display: block;
        width: 127px;
        height: 101px;
        margin-bottom: 16px;
    }
    &__car {
        margin-bottom: 20px;
        width: 137px;
        height: 78px;
        background-color: #EBEDEE;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }
    &__car-logo {
        display: block;
        width: 41px;
        height: 41px;
        margin-right: 16px;
    }
    &__quantity-in-car {
        background-color: #BED1E1;
        width: 43px;
        height: 25px;
        border-radius: 3px;
        text-align: center;
        padding: 4px 0;
        h5 {
            font-weight: 500;
            font-size: 14px;
            color: #404040;
        }
        
    }
    &__center-block {
        width: 520px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 57px;
    }
    &__text {
        width: 100%;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #404040;
    }
    &__form {
        margin-top: 13px;
        width: 100%;
    }
    &__nav {
        background-color: #E1CEBE;
        height: 60px;
    }
    &__hamburger {
        display: none;
    }
}