.about {
    margin-top: 54px;
    &__title {
        font-weight: 500;
        font-size: 24px;
        color: #404040;
    }
    &__paragraph {
        margin-top: 30px;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #404040;
    }
}