.drop {
    position: relative;
    &__btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__img {
        position: absolute;
        top: 4px;
        right: 0;
        display: block;
        width: 6px;
        height: 10px;
    }
    &__menu {
        display: none;
        position: absolute;
        top: -22px;
        left: 232px;
        z-index: 3;
        width: 268px;
        height: 168px;
        padding: 9px 13px 9px 25px;
        background-color: #fff;
        &_active {
            display: block;
        }
    }
    &__link {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #404040;
        margin-top: 15px;
        &:hover {
            color: #566E98;
        }
    }
}