.goods {
    margin-top: 31px;
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #404040;
    }
    &__cards {
        margin-top: 21px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        position: relative;
        width: 260px;
        height: 495px;
        background-color: #EBEDEE;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &__img {
        display: block;
        width: 260px;
        height: 260px;
    }
    &__name {
        width: 218px;
        margin: 0 auto;
        margin-top: 19px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #404040;
    }
    &__price {
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #404040;
    }
    .mt-65 {
        margin-top: 65px;
    }
    .mt-44 {
        margin-top: 44px;
    }
    &__line {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 236px;
        background-color: #fff;
        &-1 {
            bottom: 153px;
        }
        &-2{
            bottom: 91px;
        }
    }
    &__add {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__quantity {
        width: 95px;
        height: 40px;
        background-color: #FFFFFF;
        border-radius: 3px;
        margin-right: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        h4 {
            margin: 0;
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #404040;
        }
    }
    &__min {
        display: block;
        cursor: pointer;
    }
    &__pl {
        display: block;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    &__btn {
        width: 119px;
        height: 40px;
        background-color: #BED1E1;
        border-radius: 3px;
        &:active {
            background-color:#E1CEBE;
            .goods__item {
                border: 2px solid #E1CEBE;
                border-radius: 3px;
                // filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
            }
        }
        h5 {
            margin: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #404040;
        }
    }
    
}