@media(max-width: 1200px) {
    .container {
        width: 88vw;
    }
    .nav {
        width: 88vw;
        &__link {
            width: 120px;
        }
        &__item {
            &:nth-child(2) {
                .nav__link {
                    width: 150px;
                }
            }
        }
    }
    .main {
        width: 90vw;
        &__content {
            margin-left: 234px;
        }
    }
    .carousel {
        width: 100%;
        height: auto;
        &-caption {
            width: 75%;
            height: 25%;
            padding: 4% 0 4%;
        }
    }
    .goods{
        &__cards {
            justify-content: start;
            align-items: flex-start;
        }
        &__item {
            margin-right: 3%;
            &:nth-child(3) {
                margin-right: 0;
            }
        }
        &__img {
            width: 100%;
            height: auto;
        }
        
    }
    .promotion {
        &__cards {
            justify-content: start;
            flex-wrap: wrap;
        }
        &__item {
            margin-right: 3%;
            
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .footer {
        &__container {
            width: 90vw;
        }
        &__line {
            width: 90vw;
        }
    }
    .contacts {
        width: 75%;
    }
    .nav-catalog {
        &__title {
            width: 208px;
        }
        &__list {
            width: 208px;
        }
    }
    .drop {
        &__menu {
            left: 180px;
            width: 227px;
            height: 156px;
            padding-left: 19px;
        }
        &__link {
            font-size: 12px;
            
        }
    }
    
    .sidebar {
        width: 208px;
    }
    
}
@media(max-width: 991px) {

    .header {
        &__main {
            max-height: 132px;
        }
        &__center-block {
            width: 380px;
            margin-left: 16px;
        }
        &__text {
            margin-top: 17px;
        }
        &__logo {
            width: 121px;
            height: auto;
        }
    }
    .nav {
        &__link {
            width: 90px;
        }
        &__item {
            &:nth-child(2) {
                .nav__link {
                    width: 155px;
                }
            }
            &:nth-child(6) {
                .nav__link {
                    width: 115px;
                }
            }
        }
    }
    .carousel {
        &-caption {
            width: 70%;
        }
        &-control-prev, &-control-next {
            width: 13%;
        }
    }
    .goods {
        &__item {
            width: 210px;
            height: 445px;
            margin-right: 11px;
        }
        
        &__name {
            width: 80%;
            margin-left: 15px;
            margin-right: 15px;
        }
        &__line {
            width: 90%;
            &-1 {
                bottom: 32%;
            }
            &-2 {
                bottom: 85px;
            }
        }
        &__btn {
            width: 90px;
        }
        &__quantity {
            margin-right: 10px;
            height: 40px;
            width: 85px;
            h4 {
                margin: 0 14px;

            }
        }
        .mt-65 {
            margin-top: 52px;
        }
        .mt-44 {
            margin-top: 31px;
        }
    }
    .contacts {
        flex-wrap: wrap;
        width: 60%;
        &__item {
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                margin-top: 5px;
                order: 3;
            }
            &:nth-child(3) {
                order: 2;
            }
        }
    }
}

@media(max-width: 767px) {
    .contacts {
        width: 67%;
        &__inf {
            font-size: 14px;
        }
        &__icon {
            margin-right: 5px;
        }
    }
    .footer {
        &__logo-brand {
            width: 110px;
            height: auto;
        }
        &__descr {
            font-size: 10px;
        }
        &__copyright {
            font-size: 10px;
        }
        &__politics {
            width: 60%;
        }
        &__kontur {
            &__tagline {
                font-size: 10px;
            }
        }
        
    }
    .header {
        &__main {
            .header__container {
                justify-content: space-around;
            }
        }
        &__logo {
            display: none;
        }
        &__center-block {
            width: 360px;
            margin-left: 0;
        }
        &__link {
            margin-right: 14px;
            h4 {
                font-size: 14px;
            }
        }
        &__anchor {
            font-size: 12px;
            margin-right: 25px;
        }
    }
    .carousel {
        &-caption {
            padding: 2% 0 2%;
            width: 60%;
        }
        &__title{
            font-size: 20px;
        }
        &-control-prev, &-control-next {
            &-icon {
                width: 17px;
                height: 28px;
            }
        }
        &-indicators {
            li {
                width: 26px;
                height: 7.7px;
            }
        }
        
    }

    // .hamburger {
    //     display: block;
    //     position: absolute;
    //     left: 13px;
    //     top: 41px;
    //     z-index: 6;
    //     transform: translateY(-50%);
    //     width: 22px;
    //     height: 12px;
    //     span {
    //         position: absolute;
    //         display: block;
    //         height: 3px;
    //         width: 100%;
    //         background-color: #566E98;
    //         margin-bottom: 5px;
    //         transition: 0.5s all;
    //         &:nth-child(1) {
    //             transform: translateY(3px) rotate(45deg);
    //             left: 2px;
    //             top: 0
    //         }
    //         &:nth-child(2) {
    //             transform: translateY(3px) rotate(-45deg);
    //             left: 16px;
    //             top: 4%;
    //         }
    //     }
    //     &_active {
    //         span {
    //             margin-bottom: -2px;
    //             &:nth-child(1) {
    //                 transform: translateY(3px) rotate(135deg);
    //             }
    //             &:nth-child(2) {
    //                 transform: translateY(3px) rotate(45deg);
    //             }
    //         }
    //     }
    // }
    // .nav-catalog {
    //     &__title {
    //         padding-left: 61px;
    //         height: 81px;
    //         width: 208px;
    //         border-bottom-left-radius: 3px;
    //         border-bottom-right-radius: 3px;
    //         &_active {
    //             border-bottom-left-radius: 0px;
    //             border-bottom-right-radius: 0px;
    //         }
    //     }
    //     &__list {
    //         display: none;
    //         width: 208px;
    //         &_active {
    //             display: none;
    //             // display: block;
    //         }
    //     }
    // }
    // .nav {
    //     &__list {
    //         position: fixed;
    //         z-index: 6;
    //         top: 0;
    //         right: -100%;
    //         width: 50%;
    //         height: 100vh;
    //         padding: 20px 15px;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    //         background-color: rgba(0,0,0, .8);
    //         transition: 0.5s all;
    //         &_active {
    //             right: 0;
    //         }
    //     }
    //     &__item {
    //         padding-right: 0;
    //         border: none;
    //         margin: 10px 0;
    //         a {
    //         font-size: 20px;
    //         }
    //     }
    // }
    .nav {
        &__link {
            width: 75px;
            h4 {
                font-size: 14px;
            }
        }
        &__item {
            &:nth-child(2) {
                .nav__link {
                    width: 135px;
                }
            }
            &:nth-child(6) {
                .nav__link {
                    width: 98px;
                }
            }
            &:nth-child(1), &:nth-child(3), &:nth-child(4) {
                .nav__link {
                    width: 64px;
                }
            }

        }
    }
    
    
    // .main {
    //     // position: relative;
    //     // &__side {
    //     //     position: absolute;
    //     //     top: 429px;
    //     //     left: 48px;
    //     // }
    //     // &__content {
    //     //     margin-left: 0;
    //     // }
    //     // &__wrapper_level-1 {
    //     //     display: flex;
    //     //     justify-content: center;
    //     //     align-items: start;
    //     // }
    //     // &__wrapper_level-2 {
    //     //     margin-left: 25px;
    //     // }
    //     // &__empty-block {
    //     //     width: 358px;
    //     //     height: 1000px;
    //     // }
    // }
    .goods {
        &__item {
            height: 384px;
            margin-right: 10%;
        }
        &__name {
            font-size: 12px;
        }
        
        
        &__line {
            width: 90%;
            &-1 {
                bottom: 108px;
            }
            &-2{
                bottom: 68px;
            }
        }
        &__btn {
            display: none;
            width: 41px;
            height: 41px;
            background-color: transparent;
            
        }
        &__car {
            display: block;
            img {
                transform: scale(-1, 1);
            }
        }
        &__quantity {
            margin-right: 16px;
            width: 95px;
            height: 40px;
            h4 {
                margin: 0 17px;
            }
        }
        .mt-65 {
            margin-top: 35px;
        }
        .mt-44 {
            margin-top: 14px;
        }
        &__add {
            margin-top: 23px;
        }
    }
    .promotion {
        &__item {
            width: 245px;
        }
        &__date {
            top: 175px;
        }
    }
    .about {
        &__paragraph {
            font-size: 14px;
        }
    }
    .nav-catalog {
        &__list {
            padding: 0 14px 18px 16px;
            width: 198px;
        }
        &__title {
            padding: 26px 14px 0 16px;
        }
    }
    .drop {
        &__menu {
            left: 192px;
            width: 217px;
            height: 140px;
            padding-left: 16px;
        }
        &__link {
            margin-top: 12px;

        }
    }
}

@media(max-width: 575px) {
    .header {
        &__main {
            max-height: 60px;
        }
        &__center-block {
            width: 60%;
            margin-bottom: 10px;
        }
        &__text {
            display: none;
        }
        &__form {
            margin-top: 0;
        }
        &__car {
            width: 104px;
            height: 40px;
            margin-bottom: 10px;
        }
        &__car-logo {
            width: 31px;
            height: 31px;
            margin-right: 12px;
        }
        &__quantity-in-car {
            width: 31px;
            height: 22px;
            h5 {
                font-size: 12px;
            }
        }
        &__phones {
            flex-direction: column;
        }
        &__link {
            &:first-child {
                margin-right: 0;
                margin-bottom: 1px;
            }
            h4 {
                font-size: 10px;
            }
            
        }
        &__anchor {
            font-size: 10px;
            margin-right: 14px;
        }
        &__inf {
            height: 30px;
            // .header__container {
            //     justify-content: space-between;
            // }
        }
    }
    .carousel {
        &-caption {
            padding: 2% 0 2%;
            width: 60%;
        }
        &__title{
            font-size: 22px;
        }
        &-control-prev, &-control-next {
            &-icon {
                width: 12px;
                height: 20px;
            }
        }
        &-indicators {
            li {
                width: 20px;
                height: 6px;
            }
        }
        
    }
    .footer {
        &__logo-brand {
            width: 72px;
        }
        &__top {
            height: 120px;
        }
        &__bottom {
            padding: 9.5px 0 17.5px;
            height: 66px;
        }
        &__descr {
            display: none;
            &-sm {
                display: block;
            }
        }
        &__copyright {
            display: none;
            &-sm {
                display: block;
            }
        }
        &__tagline {
            font-size: 11px;
            line-height: 14px;
        }
        &__politics {
            width: 30%;
        }
    }
    .contacts {
        width: 62%;
        &__inf {
            font-size: 10px;
            line-height: 16px;
        }
        &__icon {
            width: 18px;
            height: auto;
        }
        
    }
}
@media(max-width: 460px) {
    .footer{
        &__top {
            height: 80px;
        }
        &__bottom {
            height: 54px;
        }
        &__logo-brand {
            width: 65px;
        }
        &__container {
            width: 95vw;
        }
        &__line {
            width: 95vw;
        }
        &__descr {
            margin-top: 4px;
            font-size: 8px;
        }
        &__copyright {
            font-size: 8px;
        }
        &__tagline {
            font-size: 8px;
            line-height: 11px;
        }
        &__logo-kontur {
            width: 42px;
            height: auto;
        }
    }
    .contacts {
        width: 70%;
        &__inf {
            font-size: 8px;
        }
        // &__item {
        //     &:nth-child(1) {
        //         margin-top: 5px;
        //         order: 2;
        //     }
        //     &:nth-child(2) {
        //         margin-top: 5px;
        //         order: 3;
        //     }
        //     &:nth-child(3) {
        //         order: 1;
        //     }
        // }
    }

}
@media(max-width: 320px) {
    .header {
        &__inf {
            height: 21px;
        }
        &__anchor {
            margin-right: 25px;
        }
        &__phones {
            display: none;
        }
        &__inf {
            .header__container {
                justify-content: center;
            }
        }
    }
}