.nav-catalog {
    position: relative;
    background-color: #BED1E1;
    border-radius: 3px;
    &__title {
        padding: 26px 14px 0 28px;
        width: 260px;
        height: 74px;
        background-color: #BED1E1;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        h2 {
            font-weight: 500;
            font-size: 24px;
            color: #404040;
        }
    }
    &__list {
        display: block;
        width: 260px;
        padding: 0 14px 34px 28px;
        height: 740px;
        background-color: #BED1E1;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &__item {
        margin-top: 23px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__link {
        h5 {
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #404040;
        }
    }
    &__category {
        display: block;
        position: relative;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #404040;
        cursor: pointer;
    }
}
.hamburger {
    display: none;
}