.nav {
    height: 100%;
    width: 100%;
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link  {
        display: block;
        text-align: center;
        padding: 10px 0;
        width: 164px;
        height: 41px;
        h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #404040;
        }
        &:active {
            border-radius: 3px;
            background-color: #ffffff;
        }
    }
}